.navbar__brand{
 font-size: 2rem;
 font-weight: 400;
}

.fa__search{
    position: relative;
    top: 3rem;
    left: 0;    
    
}

.form__control{    
    height: 60px;
    padding-left: 3rem;
    font-size: 1.5rem;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
}

.list__item{
    cursor: pointer;
}

.word-img{
    object-fit: cover;    
}

.img-contain{
    height: 120px;   
}