body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* my styles */

.container__{
  background: linear-gradient(to right, #0062E6, #33AEFF);;
}

.card__title{
  opacity: 0.8;
  letter-spacing: 2px;  
  font-size: 1rem;
  font-weight: bold;
}

.card__{  
  border-radius: 1rem;
  transition: all 0.2s;
}

.button{  
  opacity: 0.5;
  border-radius: 1rem;
}

.card__:hover{
  top: -5px;
}

.card__:hover .button{  
  opacity: 1;  
}

.price{
  font-size: 3rem;
}

.list__group__item{
  opacity: 0.5;  
}