.title{
    background-color: rgba(59, 130, 246);
    color: whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 80px;
    padding: 1rem;    
}

.button{
    transition: all 1000 ease-out; 
}

.country-card{
    transition-property: all;
    transition-duration: 5000ms;
    transition-timing-function: ease-in-out;
}