.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-extra-text{
    color: rgba(55, 65, 81,1);
}
.siteHead{
    color: rgba(146, 64, 14);
    font-family: 'Times New Roman', Times, serif;
}