
.form__control{        
    border: none;
    outline: none;
    height: 100px;
    font-size: 2rem;
    background: white !important;
}

.input__group{
    border-bottom: 1px solid lightgray;
    
    padding: .375rem 1.75rem .375rem .75rem;
}

.custom__select{
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
}

.tofro__select{
    padding-left: .75rem;
}