.new-btn{    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
  }

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #636363;
  }
  input:-moz-placeholder, textarea:-moz-placeholder {
    color: #636363;
  }